<div class= "notice-item" style="display:block;" id={{id}} >
<div class="content-notice__list" id={{id}} >
    
    <div class="pic" style="display:inline;">
    <img src="{{icon}}" onError="this.onerror=null;this.src='/images/Notice.png';" >
    </div>
    <div class = "noticetext">
	<p>{{text}}</p>
    </div>
    <div class = "noticestart">
	<p>Start: {{start}}</p>
    </div> 
    <div class = "noticeend">    
    <p>End: {{end}}</p>
    </div>
        
</div>
</div>